# TPV Supermercado - .env.example 
 
DATABASE_URL="postgresql://postgres:[TU_PASSWORD]@db.xxvsyjpettyttgvyplgp.supabase.co:5432/postgres" 
 
JWT_SECRET="cambia-esta-clave-por-una-muy-larga-y-segura-2026-tpv-supermercado" 
 
PORT=3001 
